img {
	padding: 10px;
}

button {
	margin-top: 10px;
}


.nav {
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	border-color: black;
	padding-bottom: 4px;
}

.portfolioProject {
	background: #eaeaea;
	margin: 10px;
	border-radius: 15px;
	padding: 10px;
}

.projectTitle {
	font-size: 24px;
}

#profilePic {
	height: 200px;
	width: 200px;
}

.connectIcon {
	height: 70px;
	width: 70px;
}

@media screen and (max-width: 980px) {
	#pic_lables2 {
		margin-left: 10px;
		margin-top: 315px;
	}
	#pic_lables3 {
		margin-top: 510px;
	}
	#pic_lables4 {
		margin-left: 10px;
		margin-top: 700px;
	}
	#pic_lables5 {
		margin-top: 890px;
	}
}